
.header {
    height: 1000px;
    padding: 57px 40px;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navbar-contact {
    display: flex;
    align-items: center;
}

.header-navbar-contact-location {
    text-align: center;
    display: flex;
    align-items: center;
    margin-right: 41px;
}

.header-navbar-contact-location i {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0D4C93;
    font-size: 20px;
    cursor: pointer;
}

.header-navbar-contact-location a {
    font-family: 'Roboto', sans-serif;
    color: #5A5A5A;
}

.header-navbar-contact-phone {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-navbar-contact-phone-icon i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    color: #0D4C93;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}

.header-navbar-contact-phone-numbers a {
    color: #5A5A5A;
    font-family: 'Roboto', sans-serif;
}

.header-navbar-media {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 300px; */
    margin-left: 30px;
    gap: 51px;
}

.header-navbar-media .header-navbar-media-search {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #0D4C93;
    cursor: pointer;
    background: #ffffff;
}

.header-navbar-media-facebook {
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 180px;
    height: 50px;
    background: #ffff;
}

.header-navbar-media-facebook a {
    font-family: 'Roboto', sans-serif;
    color: #0D4C93;
}

.header-navbar-media-facebook i {
    font-size: 20px;
    color: #0D4C93;
    cursor: pointer;
}

.header-navbar-media-language {
    width: 180px;
    height: 50px;
    background: #ffffff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 15px;
}

.header-navbar-media-language select {
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: #0D4C93;
    font-size: 16px;
    padding-right: 15px;

}

.header-navbar-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    margin-top: 50px;
    background: #ffffff;
}

.header-navbar-links a {
    color: #0D4C93;
}


.header-navbar-links a:active {
    color: #00C9C9;
}

.links-one,
.links-two,
.links-three,
.links-four,
.links-five,
.links-six:not(:last-child) {
    height: 100%;
    border-right: 1px solid #F2F2F2;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 34px;
    position: relative;
}

.links-one::before,
.links-two::before,
.links-three::before,
.links-four::before,
.links-five::before,
.links-six::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 11px;
    right: 13px;
}

.links-six::before {
    top: 0px;
}

.links-one:hover::before,
.links-two:hover::before,
.links-three:hover::before,
.links-four:hover::before,
.links-five:hover::before,
.links-six:hover::before {
    background: #00C9C9;
}

.links-one a:hover,
.links-two a:hover,
.links-three a:hover,
.links-four a:hover,
.links-five a:hover,
.links-six a:hover {
    color: #00C9C9;
}

.links-six {
    padding-right: 34px;
    position: relative;
}

.links-six::before {
    top: -5px;
}

.header-navbar-slider-content {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
}


.header-navbar-slider-content-left h1 {
    color: #0D4C93;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0.09em;
}

.header-navbar-slider-content-left p {
    font-family: "Roboto", sans-serif;
    line-height: 40px;
    font-size: 19px;
    padding-bottom: 43px;
}

.header-navbar-slider-content-left button {
    background: linear-gradient(90deg, #0D4C93 0%, #00C9C9 100%);
    opacity: 0.9;
    border-radius: 35px;
    padding: 21px 71px;
    font-family: "Roboto", sans-serif;
    border: none;
    transition: .5s;
}

.header-navbar-slider-content-left button:active {
    scale: 0.9;
}

.header-navbar-slider-content-left button a {
    color: #ffffff;
}

.header-navbar-slider-content-right {
    width: 724px;
}

.header-navbar-slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 36px;
}

.header-navbar-slider-btn button {
    padding: 10px;
    transition: .3s;
    background: #ffffff;
    border: 1px solid #00C9C9;
    border-radius: 50%;
    cursor: pointer;
}

.header-navbar-slider-btn button:active {
    background: #00C9C9;
    scale: 0.9;
}