/* font-family: 'Roboto', sans-serif; */

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.App {
    width: 1348px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    width: 100%;
    background-image: url("../public/Images/blur-hospital-clinic-interior\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #eee;
}